
body{
  background-color: white;
}

.homepage{
  display: flex;
  flex-flow: column wrap;
  color: black;
  min-height: 100vh;
}

.authPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
}

.authText{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: 25%;
  text-align: center;
  position: relative;
  top: -50px;
}

.loginField, .signupField{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 50px;
  margin-top: -10px;
}



input{
  background-color: #202020;
  color: white;
  border: none;
  padding: 15px 20px; 
  min-width: 350px;
  font-size: 16px;
  width: 100%;
  border-radius: 25px;
  margin: 10px;
  box-sizing: border-box;
}

::placeholder {
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-align: start;
  width: 100%;
}

.loginBtn {
  background-color: #22DCF1;
  color: white;
  border: none;
  padding: 0px;
  height: 45px;
  width: 250px;
  border-radius: 40px;
  font-size: 16px;
  cursor: pointer;
  box-sizing: border-box;
  margin-left: 25px;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.auth {
  display: flex;
  gap: 10px;
}

.login-btn{
  background-color: white;
  color: rgb(0, 0, 0);
  border: none;
  font-weight: 700;
}

.signup-btn{
  background-color: #22DCF1;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 25px;
  font-weight: 700;
}

.hero {
  display: flex;
  justify-content: center;
  text-align: center;
}

.hero-image {
  height: 450px;
  width: 97.5%;
  border-radius: 30px;
}

.cta-button {
  margin-top: 20px;
  background-color: #22DCF1;
  color: white;
  border: none;
  width: 12.5%;
  align-self: center;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 25px;
}

.featureName{
  align-self: center;
  margin-top: 100px;
  margin-bottom: -75px;
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  padding: 20px;
  margin-top: 75px;
}

.box {
  background-color: #FAF9F9;
  border-style: solid;
  border-width: 1px;
  border-color: #ACACAC;
  margin: 25px;
  padding: 10px 20px;
  border-radius: 25px;
}